@import "~normalize.css";
@import "variables";
@import "mixins";
@import "header";
@import "main";
@import "adaptive";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Roboto, sans-serif;
  font-size: 12px;
  background: $grey-3;
  padding-top: 48px;
}